body{
    padding: 0px;
    margin: 0px;

}
.container{
    max-width: 1000px;
    margin: 0 auto;
    
}
.container>header{
    background-size: 100% 100%;
    height: 0px;
    padding-bottom: 25%;
}
.container>nav{
    line-height: 40px;
    background-color: rgb(229, 192, 228);
    color: rgb(207, 146, 32);
    text-align: center;
    font-variant: small-caps;
}
.container>article{
    min-height: 400px;
    background-color: wheat;
    float: left;
}
.container>aside{
    min-width: 400px;
    width: 25%;
    background-color: lightblue;
    float: right;
}
.container>header>img{
    width: 1000px;
    height:250px;
}
.container>footer{
    border-top: 5px double rgb(0, 255, 26);
    line-height: 50px;
    background-color: lightcyan;
    text-align: center;
    font-variant: small-caps;
    clear: both;
}
.container>nav >a{
    color: wheat;
    text-decoration: none;
    margin: 0 10px;

}
.container>nav>a:hover{
    color: yellow;
    text-decoration: underline;
}
